{% extends 'consultationBase.html.twig' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ asset('css/stagiaire.css') }}" />
{% endblock %}

{% block title %} Fiche du stagiaire {% endblock %}

{% block body %}
<div class="row">
    {% include ':stagiaire:informationStagiaire.html.twig' %}
</div>

<div class="row">
    {% include ':stagiaire:tableCalendrier.html.twig' %}
</div>

{% endblock %}