{% extends 'consultationBase.html.twig' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ asset('css/stagiaire.css') }}" />
{% endblock %}

{% block title %} Fiche du stagiaire {% endblock %}

{% block body %}
<div class="row">
    {% include ':stagiaire:informationStagiaire.html.twig' %}
</div>

<div class="row">
    {% include ':stagiaire:tableCalendrier.html.twig' %}
</div>

{% endblock %}


{% block modal %}
    {{ parent() }}
    {% include ':composants:modale.html.twig' with {'id' : 'calendrier', 'formId' : 'calendrier'} %}
    {# Soumettre le form du tableau à renvoyer#}
    {% include ':composants:modale.html.twig' with {'id' : 'calendrier_search', 'formId' : 'formSearch', 'customClass' : 'modal-search'} %}
{% endblock %}