{% extends 'consultationBase.html.twig' %}

{% block customCSS %}
    <link rel="stylesheet" href="{{ asset('css/stagiaire.css') }}" />
{% endblock %}

{% block title %} Fiche du stagiaire {% endblock %}

{% block body %}
<div class="row">
    {% include ':stagiaire:informationStagiaire.html.twig' %}
</div>

<div class="row">
    {% include ':stagiaire:tableCalendrier.html.twig' %}
</div>

{% endblock %}

{# paramétrage de la modale #}
{% block modal_id %}calendrier{% endblock %}
{% block modal_action_buttons %}
    <button type="button" class="modal-action modal-close waves-effect waves-green btn left red lighten-3">Annuler</button>
    <button type="submit" form="calendrier" class="modal-action waves-effect waves-green btn">Valider</button>
{% endblock %}