{#
This file is part of Alterplan.

Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'navigableBase.html.twig' %}

{% block body %}
    <div class="row">
        <div class="card col s6 offset-s3" style="top: 10em">
            <div class="card-content valign-wrapper">
                <div class="col s6 offset-s3" >
                    <div class="row">
                        <a href="{{ path('stagiaires_index') }}" class="waves-effect waves-light btn col s11">
                            <i class="material-icons left">search</i>
                            Rechercher un stagiaire
                        </a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row">
                            <a href="{{ path('model_search', {'nameModal' : 'gestionModele'}) }}" class="waves-effect waves-light btn col s11">
                                <i class="material-icons left">star</i>
                                Gérer les modèles
                            </a>
                        </div>
                        <div class="row">
                            <a href="{{ path('formations_index') }}" class="waves-effect waves-light btn col s11">
                                <i class="material-icons left">directions</i>
                                Gérer l'ordre logique
                            </a>
                        </div>
                        <div class="row">
                            <a href="{{ path('promotions_index') }}" class="waves-effect waves-light btn col s11">
                                <i class="material-icons left">assignment</i>
                                Gérer les promotions
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}