Alterplan/.idea/*
Alterplan/.web-server-pid
Alterplan/app/config/parameters.yml
Alterplan/build/
Alterplan/phpunit.xml
Alterplan/var/*
!Alterplan/var/cache
Alterplan/var/cache/*
!Alterplan/var/cache/.gitkeep
!Alterplan/var/logs
Alterplan/var/logs/*
!Alterplan/var/logs/.gitkeep
!Alterplan/var/sessions
Alterplan/var/sessions/*
!Alterplan/var/sessions/.gitkeep
!Alterplan/var/SymfonyRequirements.php

