{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}
<div class="card" style="height: 45em; max-height: 45em; overflow: auto;">
    <div class="card-content custom-padding">
        <span class="card-title">Modules à planifier</span>
        <table class="highlight centered responsive-table bordered">
            <thead>
                <tr>
                    <th class="col s4">Titre</th>
                    <th class="col s4">Formation</th>
                    <th class="col s4">Lieu</th>
                </tr>
            </thead>
            <tbody id="modules-a-planifier">
                {# la construction du body est dans onModaleOpen du ModulesManager #}
            </tbody>
        </table>
    </div>
</div>