/*
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
*/

div.fixed-action-btn > a.btn-large:hover {
    cursor: default;
}

.modules-modale {
    top: 0 !important;
    max-height: 100% !important;
    height: 99% !important;
    width: 90% !important;
}

.modules-modale > .modal-content {
    padding: 0.5em 1em 0 1em !important;
}

.custom-padding {
    padding-top: 1em !important;
    padding-bottom: 0.5em !important;
}

.bordered {
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
}

.indicateur {
    width: 1%;
    height: 4em;
}

.tr {
    width: 100%;
    height: 4em;
}

.tr-body {
    width: 99%;
    height: 4em;
}

.module-place {
    margin-right: -2%;
}

.cours, .entreprise, .module-planifie, .module-place {
    height: 4em;
}

.cours > div, .entreprise > div, .module-planifie > div {
    height: 100%;
}

.columnContent {
    width: 100%;
}

.date {
    border-right-color: #e0e0e0;
    border-right-width: 1px;
    border-right-style: solid;
}

.module-place.selected:hover, .module.selected:hover, .semaine-module.selected:hover {
    cursor: move;
}