/*
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #134a80;
}

.page-footer{
    padding-top: 0;
    background-color: #134a80;
    text-align: left;
}

.brand-logo {
    height: 64px;
}

.eni-logo{
    zoom: 50%;
    margin-top: 12px;
}

#sidenav-overlay {
    z-index: 1;
}

.bordered .highlight td:hover{
    cursor: pointer;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(220,220,220,0.8);

    position: fixed;
    z-index: 1012;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.clickable:hover{
    cursor: pointer;
}