/*
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
*/

.sous-groupe, .groupe{
    padding-top: 15px !important;
}

.sous-groupe div.draggable-container:empty{
    min-height: 7.4em;
}

.sous-groupe.last{
    margin-left: 15px !important;
}

.card.droite{
    display: inline-block;
}

.draggable-container.droite{
    max-height: 45em;
    overflow: auto;
}

.draggable-container.centre{
    padding-bottom: 15px;
}

.clickable{
    cursor: pointer;
}

.selected{
    background-color: #64b5f6;
    border-color: black;
    color: white;
}

.draggable-container > .groupe,
.draggable-container > .sous-groupe,
.draggable-container > .module{
    cursor: move;
}