/*
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
*/

.ligneInscrit {
    background-color : #FFE6CC;
    border-top : 1px solid #D79B00 ;
    border-bottom : 1px solid #D79B00;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.stagiaireInformation {
    margin: auto;
    width: 90%;
}

.stagiaireInformation > .formationInformation{
    text-align: center;
}

.stagiaireInformation > .entrepriseInformation{
    text-align: right;
}
.stagiaireInformation span{
    font-weight: bold;
}

.calendrierInscrit a {
    color: black;
}
.ligneInscrit:hover {
    background-color: #f9d1a8;
}

.tableauCliquable tbody tr:hover{
    cursor: pointer;
}

.modal-search{
    top: 2% !important;
    max-height: 100% !important;
    height: 95% !important;
    width: 85% !important;
}

.modal-search > .modal-content{
    padding: 13px 24px 0 24px !important;
}