{#
This file is part of Alterplan.

Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#">Mon compte</a></li>
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('utilisateurs_index') }}">Gérer les comptes</a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
</ul>

<ul class="right hide-on-med-and-down">
    <li>
        <a class="dropdown-button" href="#" data-activates="dropdown1">{{ app.user.username }}<i class="material-icons right">perm_identity</i></a>
    </li>
</ul>



{#
{% embed 'modalContentBase.html.twig'%}
    {% block modal_id %}edit_current_user{% endblock %}
    {% block modal_action_buttons %}
        <button class="modal-action modal-close waves-effect waves-green btn left red lighten-3">Annuler</button>
        <button type="submit" form="user_create" class="modal-action waves-effect waves-green btn">Valider</button>
    {% endblock %}
{% endembed %}#}

<script type="text/javascript">
    $( document ).ready(function(){
        $(".dropdown-button").dropdown({
            constrainWidth: false,
            belowOrigin: true,
            gutter: 1
        });
       /* $('#btn_create_user').click(function () {
            renderModal('create_user','/utilisateurs/new');
        });*/
    })
</script>