{#
This file is part of Alterplan.

Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}

<ul class="side-nav" id="left-menu">
    <li><a class="waves-effect waves-light btn">Rechercher un stagiaire <i class="material-icons right">search</i></a></li>
    <li><a class="waves-effect waves-light btn">Gérer les modèles</a></li>
    <li><a class="waves-effect waves-light btn">Gérer l'ordre logique</a></li>
</ul>
<a href="#" class="btn-collapse left hide-on-med-and-down" data-activates="left-menu"><i class="material-icons">menu</i></a>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-collapse").sideNav();
    })
</script>