{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <link href="{{ asset('css/FOSUserBundle/Resetting/request_content.css') }}" rel="stylesheet">
<a href="/" ><img id="logo_eni" src="{{ asset('logo-eni.png') }}"></a>
<div class="container">
    <div class="z-depth-1 grey lighten-4 row" id="request_panel">
        <p>

        Un email a été envoyé à l'adresse de l'utilisateur renseigné. Veuillez suivre les indications de l'email pour réinitialiser votre mot de passe.
        </p>
    </div>
</div>
{% endblock %}
