{% trans_default_domain 'FOSUserBundle' %}
<link href="{{ asset('css/FOSUserBundle/Resetting/request_content.css') }}" rel="stylesheet">
<a href="/" ><img id="logo_eni" src="{{ asset('logo-eni.png') }}"></a>
<div class="container">
    <div class="z-depth-1 grey lighten-4 row" id="request_panel">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div>
                <label id="texte" for="username">Veuillez entrer votre adresse mail. Un email vous sera envoyé pour réinitialiser le mot de passe</label>
                <input type="text" id="username" name="username" required="required" />
            </div>
            <div>
                <button type="submit" class=" col s12 btn btn-large waves-effect indigo">Valider</button>
            </div>
        </form>
    </div>
</div>
