{#
This file is part of Alterplan. 
 
Alterplan is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. 
 
Alterplan is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details. 
 
You should have received a copy of the GNU Affero General Public License along with Alterplan. If not, see <http://www.gnu.org/licenses/>.
#}
<div id="cours-template" class="template">
    <div class="tr valign-wrapper bordered no-remove">
        <div class="indicateur amber lighten-4"></div>
        <div class="tr-body">
            <div class="cours center valign-wrapper">
                <div class="col s3 valign-wrapper">
                    <span class="center-align columnContent date">16/08/2010 - 27/08/2010</span>
                </div>
                <div class="col s2 valign-wrapper lieu-heures">
                    <div class="col s12">
                        <div class="col s12">
                            <span class="center-align columnContent lieu">NANTES</span>
                        </div>
                        <div class="col s12">
                            <span class="center-align columnContent heures">70 H</span>
                        </div>
                    </div>
                </div>
                <div class="col s6 valign-wrapper module-container">
                    <div class="col s2 valign-wrapper">
                        <span class="center-align columnContent promotion">CDI43</span>
                    </div>
                    <div class="col s10 center">
                        <span class="center-align columnContent programme">PHP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>