{% extends 'consultationBase.html.twig' %}

{% block title %} Utilisateurs {% endblock %}

{% block searchPanel %}
    {% include ':utilisateurs:searchForm.html.twig' %}
{% endblock %}

{% block search_action_buttons %}
    <button type="submit" form="user_search" class="waves-effect waves-light btn">Rechercher</button>
    <button type="reset" form="user_search" class="waves-effect waves-light btn red lighten-3">Effacer les critères
    </button>
{% endblock %}

{# affichage du tableau #}
{% block resultRenderer %}
    <div id="user_table" class="col s12">
        {% include ':utilisateurs:table.html.twig' %}
    </div>
{% endblock %}

{# paramétrage de la modale #}
{% block modal_id %}user{% endblock %}
{% block modal_action_buttons %}
    <button type="button" class="modal-action modal-close waves-effect waves-green btn left red lighten-3">Annuler
    </button>
    <button type="submit" form="user" class="modal-action waves-effect waves-green btn">Valider</button>
{% endblock %}

{% block searchJS %}
    <script type="text/javascript">
        $(document).ready(function () {
            //Récupération du formulaire de recherche
            var frm = $('#user_search');

            //Abonnement à l'événement submit du formulaire
            frm.submit(function (event) {
                showLoader();
                event.preventDefault();

                var url = frm.attr('action');
                $.post(url, frm.serialize(), function (data) {
                    //En cas de succès on mets à jour le tabeau
                    var userTableDiv = $('#user_table');
                    userTableDiv.empty();
                    userTableDiv.html(data);
                }).fail(function () {
                    showToast('Erreur de recherche', 'error');
                }).always(function () {
                    dismissLoader();
                })
            });

            //gestion des boutons hors form pour les navigateurs non-compatibles
            addFormFeature();
        })


    </script>
{% endblock %}